body{
    font-family: 'Montserrat',sans-serif;
}
h2{
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    color: #537FE7;

    text-align: center;
    margin-bottom: 50px;
}
p{
    font-family: 'Ubuntu';
    font-size: 1.4rem;
    color: #000000;
    width: fit-content;
    margin: 0;
}
input{
  font-size: 1.3rem;
  font-family: 'Ubuntu',sans-serif;
}

.navbar {
    background-color: #537FE7;
    display: block;
    text-align: center;
}
.navbar a{
    color: white;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;  
    margin: auto;
}
/* side-navbar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #191825;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    align-items: center;
  }
  .sidenav li{
    list-style-type: none;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    
    font-size: 25px;
    color: #fff;
    width: 100%;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #537FE7;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* #main {
    transition: margin-left .5s;
    padding: 0%;
  } */
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.toggle-button{
    color: white;
    font-size:30px;
    cursor:pointer;
    float: left;
    
    
}

/* panel */
.col-md-5{
    border-style: outset;
    border-width: medium; 
    margin: 2px;
    text-align: center;
}
/* .dropdown{
    width: fit-content;
} */
.row-panel{
    display:-webkit-flex;
    display:flex;
    list-style-type:none;
    padding:0;
    align-items: center;
    margin-bottom: 10px;
  
}
.row-text{
  margin-right: auto;
  margin-bottom: 0;
}
.text-prompt-box{
  text-align: center;
  font-family: 'Montserrat',sans-serif;
  font-size: 1.3rem;
}
.data-display-box{
  width: 50%;
  border-style: none;
  outline: none;
  background-color: transparent;
  margin-bottom: 2px;

}

.formula-row{
  text-align: center;
  margin-bottom: 10px;
}

.btn{
  font-size: 1.3rem;
  font-family: 'Montserrat',sans-serif;
  
}
.btn-outline, .btn:hover {
  width: fit-content;
  text-align: center;
}

.last-row{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.last-row .btn{
  margin: 0 5px;
}
